# Binaries
**/*.class
**/out/

# User-specific stuff
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/**/checkstyle-idea.xml
**/*.iml
**/*.ipr
**/.idea/**/*.iml
**/.idea/**/modules
**/.idea/**/modules.xml
